<body>
  <container>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
      <h1>ようこそ、Recipememo<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>へ！</h1>
        <h3>このサイトは、お客様それぞれのレシピ管理用アプリです。<br>
        あなただけのレシピ集を作ってみませんか？</h3>

      </div>
    </div>
  </container>
</body>