<body>
  <div class="container">
    <div class="row">
      <center>
        <h1>ようこそ、Recipememo<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>へ！</h1>
          <h3>このサイトは、お客様それぞれのレシピ管理用アプリです。<br>
          あなただけのレシピ集を作ってみませんか？</h3>
      </center>
      <div class="img-container">
        <%= image_tag image_path("sukusyo.png"), class: "recipe-image",alt: "recipe-image" %>
      </div>
    </div>
  </div>
</body>