<body>
  <container>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h2>カテゴリー登録</h2><br>
          <%= form_with model:@category, url:'/admin/categories', local:true do |f| %>
            <%= f.text_field :category_name, class:"form-control", placeholder:" カテゴリー" %><br>
            <%= f.submit "登録", class: "btn btn-warning" %>
          <% end %>
          <table class="table">
          <h2>カテゴリー一覧</h2>
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <% @categories.each do |category| %>
            <tbody>
            <tr>
              <td>
              <%= category.category_name %>
              </td>
              <td>編集</td>
              <td>削除</td>
            </tr>
            <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </container>
</body>